<ion-content class="popover-content login-background">
  <div class="contenido">
    <ion-grid  [class.gridclaro]="modo" [class.gridoscuro]="!modo">
      <ion-row class="image-url-container">
        <ion-col size="auto" class="ion-align-self-center">
          <ion-card class="foto" [class.fotoclaro]="modo" [class.fotooscuro]="!modo">
            <img [src]="imagePath" alt="Vista previa" />
          </ion-card>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <ion-item lines="none">
            <ion-label position="floating">Foto del Producto</ion-label>
            <ion-input [(ngModel)]="imagePath" placeholder="Introduce la URL de la imagen"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">Nombre del Producto</ion-label>
            <ion-input [(ngModel)]="productadmin.title" placeholder=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">Precio actual</ion-label>
            <ion-input [(ngModel)]="productadmin.actualPrice" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">Precio antiguo</ion-label>
            <ion-input [(ngModel)]="productadmin.oldPrice" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">Empresa</ion-label>
            <ion-select [(ngModel)]="productadmin.empresa" multiple="false" interface="popover" placeholder="Elige una empresa">

              <ion-select-option value="Amazon">Amazon</ion-select-option>
              <ion-select-option value="eBay">eBay</ion-select-option>
              <ion-select-option value="PcComponentes">PcComponentes</ion-select-option>
              <ion-select-option value="MediaMarkt">MediaMarkt</ion-select-option>
              <ion-select-option value="Carrefour">Carrefour</ion-select-option>
              <ion-select-option value="El Corte Inglés">El Corte Inglés</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">Valoración</ion-label>
            <ion-input [(ngModel)]="productadmin.rating"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">Url del Producto</ion-label>
            <ion-input [(ngModel)]="productadmin.url"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="block" class="boton-guardar" (click)="guardar()">Guardar Producto</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
