.filter-menu {
  position: absolute;
  left: 16px;
  top: 120px;
  width: 400px;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  font-family: inherit;
  border: 2px solid rgba(200, 200, 200, 0.2); /* borde suave para destacar */
  padding: 8px;
  margin-top: 20px;
}

.filter-menu ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e67e22;
  text-align: center;
}

.filter-menu ion-item {
  --background: transparent;
  --color: #4d4d4d;
  margin-bottom: 8px;
  border-radius: 12px;
  --min-height: 40px;
}

.filter-menu ion-label {
  font-size: 0.95rem;
  color: #4d4d4d;
}

.filter-menu ion-input {
  --background: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 4px;
}

.category-label {
  margin: 16px 0 8px 8px;
  font-weight: bold;
  font-size: 1rem;
  color: #4d4d4d;
}

.filter-menu ion-list {
  background: transparent;
  border-radius: 8px;
  padding: 0 8px;
}

.filter-menu ion-item ion-label {
  font-size: 0.95rem;
  color: #4d4d4d;
}

.filter-menu ion-checkbox {
  --checkbox-background: #e67e22;
  --checkbox-border-color: #e67e22;
}

.filter-menu ion-button {
  --background: #e67e22;
  --color: white;
  --background-activated: #d35400;
  border-radius: 12px;
  font-weight: bold;
  margin-top: 16px;
}

.price-inputs {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin: 8px 0 16px 0;
}

.compact-input {
  --background: #fff;
  --padding-start: 8px;
  --inner-padding-end: 8px;
  --color: #4d4d4d;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  flex: 1;
}

.compact-input ion-input {
  --padding-start: 0;
  --padding-end: 0;
  --highlight-color-focused: #e67e22; /* color de enfoque visible */
  --highlight-color: #e67e22;
  --background: transparent;
  --box-shadow: none;
  --border: none;
  font-size: 0.85rem;
  border: none !important;
}

.titulo{
  justify-content: start;
}
