<ion-card class="menu" [class.modo-claro]="modo" [class.modo-oscuro]="!modo">
  <ion-card-header class="titulo">
    <ion-card-title>Filtrar productos</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <!-- Ordenar por -->
    <ion-label class="seccion-label" [class.text-claro]="modo" [class.text-oscuro]="!modo">Ordenar por</ion-label>
    <ion-item>
      <ion-select placeholder="Seleccionar" [(ngModel)]="sortBy" [class.text-claro]="modo" [class.text-oscuro]="!modo">
        <ion-select-option value="precio-asc">Precio: Menor a mayor</ion-select-option>
        <ion-select-option value="precio-desc">Precio: Mayor a menor</ion-select-option>
        <ion-select-option value="popularidad">Popularidad</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Precio entre -->
    <ion-label class="seccion-label" [class.text-claro]="modo" [class.text-oscuro]="!modo">
      Precio entre (€)
    </ion-label>
    <div class="price-inputs">
      <ion-item class="compact-input">
        <ion-input type="number" placeholder="Mín" [(ngModel)]="minPrice" [class.text-claro]="modo" [class.text-oscuro]="!modo"></ion-input>
      </ion-item>
      <ion-item class="compact-input">
        <ion-input type="number" placeholder="Máx" [(ngModel)]="maxPrice" [class.text-claro]="modo" [class.text-oscuro]="!modo"></ion-input>
      </ion-item>
    </div>

    <!-- Categorías -->
    <ion-label class="seccion-label" [class.text-claro]="modo" [class.text-oscuro]="!modo">
      Categorías
    </ion-label>
    <ion-radio-group [(ngModel)]="selectedCategory">
      <ion-list>
        <ion-item *ngFor="let categoria of categorias">
          <ion-radio slot="start" [value]="categoria"></ion-radio>
          <ion-label [class.text-claro]="modo" [class.text-oscuro]="!modo">{{ categoria }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <!-- Botones -->
    <ion-button expand="block" (click)="applyCurrentFilters()">Aplicar filtros</ion-button>
    <ion-button (click)="resetFilters()">Restablecer</ion-button>
  </ion-card-content>
</ion-card>
