<ion-content class="background">
  <div class="layout">

    <div class="menu-lateral">
      <app-menuizquierdaconfig></app-menuizquierdaconfig>
    </div>

    <div class="formulario">
      <div class="branding">
        <h1>Ofertas Guardadas</h1>
        <p>Ofertas que no quisiste dejar escapar</p>
      </div>

      <swiper
        [navigation]="true"
        [pagination]="{ clickable: true }"
        [loop]="false"
        [slidesPerView]="4.5"
        [slidesPerGroup]="1"
        [spaceBetween]="16"
        class="custom-swiper"
      >
        <ng-template swiperSlide *ngFor="let producto of productos">
          <ion-card class="product-card">
            <div class="heart-icon" (click)="toggleFavorito(producto)">
              <ion-icon [name]="producto.favorito ? 'heart' : 'heart-outline'"></ion-icon>
            </div>

            <img [src]="producto.image" alt="Imagen de {{ producto.title }}" />
            <ion-card-header>
              <ion-card-title>{{ producto.title }}</ion-card-title>
              <ion-badge color="danger" *ngIf="producto.discount">
                {{ producto.discount }} OFF
              </ion-badge>
            </ion-card-header>
            <ion-card-content>
              <div class="price-row">
                <span class="actual-price">€{{ producto.actualPrice.toFixed(2) }}</span>
                <span class="old-price">€{{ producto.oldPrice.toFixed(2) }}</span>
              </div>
              <div class="rating">⭐ {{ producto.rating }}</div>
              <div class="delivery">{{ producto.delivery }}</div>
              <ion-button expand="block" fill="outline" size="small" [href]="producto.url" target="_blank" class="login-button">Ver más</ion-button>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </swiper>
    </div>
  </div>
</ion-content>
