.login-background {
  --background: transparent;
  background: linear-gradient(to bottom, #ffffff, #ffb745);
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 24px 16px;

}

.branding {
  text-align: center;
  margin-bottom: 16px;

  img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #e67e22;
    margin-bottom: 4px;
  }

  p {
    font-size: 0.95rem;
    color: #4d4d4d;
  }
}

.searchbar-container {
  display: flex;
  justify-content: center; /* Centra la barra de búsqueda */
  margin-bottom: 60px; /* Espacio debajo de la barra */
}

.input-item {
  --background: #ffffff;
  --border-color: #dcdcdc;
  --color: #4d4d4d; /* Color del texto y de la lupa */
  border-radius: 12px;
  height: 44px;
  width: 50%;
}


.card-grid-horizontal {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 16px;
  scroll-snap-type: x mandatory;
  margin-left: 25%;
}

.product-card {
  --background: #ffffff;
  min-width: 250px;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;

  img {
    width: 65%;
    height: 160px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
  }


  ion-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
  }

  ion-card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #e67e22;
  }
}

.price-row {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: baseline;
  margin: 8px 0;
}

.actual-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e67e22;
}

.old-price {
  text-decoration: line-through;
  color: gray;
}

.rating {
  font-size: 0.9rem;
  color: #555;
}

.delivery {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 8px;
}

.login-button {
  --background: #e67e22;
  --background-activated: #d35400;
  --color: white;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 8px;
}

.top-icons {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 16px;
  z-index: 10;
  background: none;
  border: none;

  ion-icon {
    font-size: 48px;
    color: #e67e22;
    cursor: pointer;
  }
}
.top-icons button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empresa-titulo{
  font-size: 1.5rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
  margin-left: 25%;
}

