<app-notification-prompt
  *ngIf="showNotificationPrompt"
  (allow)="handleAllowNotifications()"
  (deny)="handleDenyNotifications()">
</app-notification-prompt>

<ion-content class="background" [class.backgroundclaro]="modo" [class.backgroundoscuro]="!modo">
  <div class="top-icons">
    <ion-button fill="clear" (click)="abrirNotificaciones()" class="notification-button">
      <ion-icon slot="icon-only" name="notifications-outline" [class.claro]="modo" [class.oscuro]="!modo"></ion-icon>
      <span class="notification-badge" *ngIf="notificacionesCount > 0">{{notificacionesCount}}</span>
    </ion-button>

    <ion-button fill="clear" (click)="abrirCrearAlerta()">
      <ion-icon slot="icon-only" name="alarm-outline" [class.claro]="modo" [class.oscuro]="!modo"></ion-icon>
    </ion-button>

    <ion-button fill="clear" [routerLink]="'/modificarperfil'">
      <ion-icon slot="icon-only" name="person-circle-outline" [class.claro]="modo" [class.oscuro]="!modo"></ion-icon>
    </ion-button>
  </div>

  <div class="branding">
    <img src="assets/indexer.png" alt="Logo" />
    <h1 [class.claro]="modo" [class.oscuro]="!modo">Ofertas destacadas</h1>
    <p [class.claro]="modo" [class.oscuro]="!modo">Explora los productos con descuentos</p>
  </div>

  <div class="searchbar-container">
    <ion-button class="filter-button" [class.claro]="modo" [class.oscuro]="!modo" (click)="toggleMenu()">
      <ion-icon name="filter-circle-outline"></ion-icon>
    </ion-button>
    <ion-searchbar
      placeholder="Buscar producto..."
      class="input-item"
      [class.searchclaro]="modo"
      [class.searchoscuro]="!modo"
      (ionChange)="onSearchChange($event)">
    </ion-searchbar>
    <ion-button class="search-button" [class.claro]="modo" [class.oscuro]="!modo">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </div>

  <app-newfound-prompt
    *ngIf="showNewProductsPrompt"
    (allow)="reloadPage()"
    (deny)="closePrompt()">
  </app-newfound-prompt>

  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
    <p [class.claro]="modo" [class.oscuro]="!modo">{{ currentLoadingMessage }}</p>
  </div>

  <div *ngIf="!isLoading && !hasProductsToDisplay()">
    <p class="no-products-message" [class.claro]="modo" [class.oscuro]="!modo">
      No se encontraron productos. ¡Realiza una búsqueda para empezar!
    </p>
  </div>

  <app-menuizquierda
    *ngIf="mostrarMenu"
    (filtersApplied)="onFiltersChanged($event)"
    (categorySelected)="onCategorySearch($event)">
  </app-menuizquierda>

  <ng-container *ngIf="productsadmin && productsadmin.length > 0">
    <h2 class="empresa-titulo" [class.claro]="modo" [class.oscuro]="!modo">Productos destacados</h2>
    <swiper
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [loop]="false"
      [slidesPerView]="slidesPerView"
      [slidesPerGroup]="1"
      [spaceBetween]="1"
      [breakpoints]="swiperBreakpoints"
      class="custom-swiper">
      <ng-template swiperSlide *ngFor="let productadmin of productsadmin">
        <ion-card class="product-card" [class.cardclaro]="modo" [class.cardoscuro]="!modo">
          <div class="heart-icon" (click)="toggleFavorito(productadmin)">
            <ion-icon [name]="productadmin.favorito ? 'heart' : 'heart-outline'"></ion-icon>
          </div>
          <img [src]="productadmin.image" alt="Imagen de {{ productadmin.title }}" />
          <ion-card-header>
            <ion-card-title [class.claro]="modo" [class.oscuro]="!modo">{{ productadmin.title }}</ion-card-title>
            <ion-badge class="descuento"
                       *ngIf="productadmin.discount &&
                      productadmin.oldPrice &&
                      productadmin.oldPrice > productadmin.actualPrice &&
                      productadmin.oldPrice !== 0 &&
                      productadmin.oldPrice !== productadmin.actualPrice">
                      {{ productadmin.discount }} Off
            </ion-badge>
          </ion-card-header>
          <ion-card-content>
            <div class="price-row">
              <span class="actual-price">€{{ productadmin.actualPrice.toFixed(2) }}</span>
              <span class="old-price" *ngIf="productadmin.oldPrice &&
                               productadmin.oldPrice > productadmin.actualPrice &&
                               productadmin.oldPrice !== 0 &&
                               productadmin.oldPrice !== productadmin.actualPrice">
                              €{{ productadmin.oldPrice.toFixed(2) }}
              </span>
            </div>
            <div class="rating" [class.claro]="modo" [class.oscuro]="!modo">⭐ {{ productadmin.rating }}</div>
            <div class="delivery" [class.claro]="modo" [class.oscuro]="!modo" *ngIf="productadmin.delivery">{{ productadmin.delivery }}</div>
            <ion-button
              expand="block"
              fill="outline"
              size="small"
              [href]="productadmin.url"
              target="_blank"
              class="login-button">
              Ver más
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </swiper>
  </ng-container>

  <ng-container *ngIf="!isLoading && hasProductsToDisplay()">
    <ng-container *ngFor="let group of groupedProducts">
      <h2 class="empresa-titulo" [class.claro]="modo" [class.oscuro]="!modo">{{ group.empresa }}</h2>
      <swiper
        [navigation]="true"
        [pagination]="{ clickable: true }"
        [loop]="false"
        [slidesPerView]="slidesPerView"
        [slidesPerGroup]="1"
        [spaceBetween]="1"
        [breakpoints]="swiperBreakpoints"
        class="custom-swiper">
        <ng-template swiperSlide *ngFor="let producto of group.items">
          <ion-card class="product-card" [class.cardclaro]="modo" [class.cardoscuro]="!modo">
            <div class="heart-icon" (click)="toggleFavorito(producto)">
              <ion-icon [name]="producto.favorito ? 'heart' : 'heart-outline'"></ion-icon>
            </div>

            <div *ngIf="producto.sourceQualityTag === 'NON_AI_FILL_UP'" class="interest-badge">
              <ion-badge>Te podría interesar</ion-badge>
            </div>

            <img [src]="producto.image" alt="Imagen de {{ producto.title }}" />
            <ion-card-header>
              <ion-card-title [class.claro]="modo" [class.oscuro]="!modo">{{ producto.title }}</ion-card-title>
              <ion-badge class="descuento"
                         *ngIf="producto.discount &&
                          producto.oldPrice &&
                          producto.oldPrice > producto.actualPrice &&
                          producto.oldPrice !== 0 &&
                          producto.oldPrice !== producto.actualPrice">
                         {{ producto.discount }} Off
              </ion-badge>

            </ion-card-header>
            <ion-card-content>
              <div class="price-row">
                <span class="actual-price">€{{ producto.actualPrice.toFixed(2) }}</span>
                <span class="old-price" *ngIf="producto.oldPrice &&
                           producto.oldPrice > producto.actualPrice &&
                           producto.oldPrice !== 0 &&
                           producto.oldPrice !== producto.actualPrice">
                           €{{ producto.oldPrice.toFixed(2) }}
                </span>
              </div>
              <div class="rating" [class.claro]="modo" [class.oscuro]="!modo" *ngIf="producto.rating">⭐ {{ producto.rating }}</div>
              <ion-button
                expand="block"
                fill="outline"
                size="small"
                [href]="producto.url"
                target="_blank"
                class="login-button">
                Ver más
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </swiper>
    </ng-container>
  </ng-container>
</ion-content>
