<div *ngIf="productsfound" class="prompt-notification" [class.backgroundclaro]="modo" [class.backgroundoscuro]="!modo">
  <div class="prompt-content">
    <ion-icon name="sparkles-outline" class="prompt-icon"></ion-icon>
    <div class="prompt-text" [class.textoclaro]="modo" [class.textooscuro]="!modo">
      <span>¡Nuevos productos encontrados para tu búsqueda!</span>
    </div>
    <div class="prompt-actions">
      <ion-button size="small" fill="solid" class="allow-btn" (click)="onAllowClick()">Recargar</ion-button>
      <ion-button size="small" fill="outline" class="deny-btn"
                  [class.btnoscuro]="!modo" (click)="onDenyClick()">X</ion-button>
    </div>
  </div>
</div>
